/* Created by: Zaida Hammel
* Created on: April 2022
* This file contains the CSS for index.html
*/

h4 {
  padding-left: 175pt;
  padding-right: 10pt;
  padding-top: 10pt;
}

h5 {
  padding-left: 175pt;
  padding-right: 10pt;
  padding-top: 10pt;
}

.mdl-layout__content {
  padding-left: 10pt;
  padding-right: 10pt;
  padding-top: 10pt;
}
